/* PC */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}

/* Tablet & Mobile */
@media (max-width: 991.98px) {
  /* 1. Hide navbar on tablet and mobile */
  .navbar {
    display: none;
  }

  /* 2. Transfer logo vào giữa */
  .header-top {
    position: relative;
  }

  .header__logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }

  /* 3. Căn lại vị trí menu icon */
  .menu-header__icon {
    position: absolute;
    top: 36px;
    left: 30px;
    color: #fff;
    width: 24px;
  }

  /* 4. Lớp phủ (Overlay) */
  .menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
  }

  /* 5. Kiếm tra nếu checkbox được check thì hiện Overlay */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  /* 6. Menu Drawer (Ngăn kéo) */
  .menu-drawer {
    position: fixed;
    background-color: #28292c;
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
    padding: 60px;
  }

  /* 7. Kiểm tra nếu checkbox được check thì hiện Menu */
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  /* 8. Menu Checkbox */
  .menu-close {
    width: 24px;
    color: #fff;
  }

  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #navbar__list--mobile {
    margin-top: 25px;
  }

  .navbar__link {
    display: block;
    font-size: 2rem;
    padding: 8px 21px;
    color: #c9d2da;
    font-weight: 300;
    line-height: 1.75;
  }

  .navbar__link:hover {
    background: #00ffff37;
    font-weight: 500;
  }

  /* 10. Khối Hero */
  .hero {
    flex-direction: column;
    gap: 50px;
  }

  .hero__content {
    order: 2;
  }

  .hero__media {
    order: 1;
  }

  .hero .hero__content {
    width: 80%;
    text-align: center;
    margin: 22px auto;
  }

  .hero__row {
    justify-content: center;
  }

  /* 11. Khối Services */
  .service__row {
    flex-direction: column;
    gap: 20px;
  }

  .service__img {
    width: 100%;
  }

  .service-item {
    width: 90%;
    text-align: start;
  }

  .service__list {
    text-align: center;
  }

  /* 12. Khối Works */
  .work__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .work-heading {
    text-align: center;
  }

  .work-desc {
    margin: 18px auto 0;
    text-align: center;
  }

  /* 13. Khối About */
  .about-row {
    flex-direction: column;
    row-gap: 30px;
  }

  .about__media {
    width: 100%;
  }

  /* Ẩn ảnh nhỏ */
  .about__img--small {
    display: none;
  }

  .about__img--big {
    width: 100%;
    border-radius: 15px;
    margin: 25px auto;
  }

  .about-content {
    width: 90%;
    text-align: center;
  }

  /* 14. Khối Team */
  .team-list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }

  .team-item__thumb {
    margin: 0 auto;
  }

  /* 15. Khối Install Mobile */
  .install__img {
    display: none;
  }

  .install__content {
    width: 90%;
    margin: 0 auto;
  }

  /* 16. Khối Blog */
  .blog__inner {
    flex-direction: column;
    row-gap: 30px;
  }

  .blog__list {
    order: 1;
  }

  .blog__content {
    order: 2;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blog__heading {
    width: 90%;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* 1. Ẩn cột 2 trong khối Footer */
  .footer-hidden-tablet-2 {
    display: none;
  }

  .footer__top {
    grid-template-columns: 0.5fr 0.5fr 1fr;
  }

  .footer__copyright {
    margin-top: 30px;
  }

  /* 2. Ẩn btn trong khối Header */
  .show-on-mobile {
    display: none;
  }
}

/* Mobile */
@media (max-width: 767.98px) {
  /* 1. Khối Header */
  .action {
    display: none;
  }

  .menu-header__icon {
    top: 16px;
  }

  .header__logo {
    left: 86%;
  }

  .menu-drawer {
    inset: 0 30% 0 0;
    padding: 40px;
  }

  .navbar__item {
    list-style-type: none;
  }

  /* 2. Thêm gạch kẻ ngăn cta group */
  .separate {
    border-top: 1.5px solid #fff;
    margin-top: 15px;
  }

  /* 3. Khối Hero */
  .hero__img-small {
    display: none;
  }

  .hero .hero__img-large {
    width: 100%;
    height: auto;
    margin-right: -1px;
  }

  .hero .hero__heading {
    font-size: 2.5rem;
  }

  .hero .hero__desc {
    font-size: 1.5rem;
    margin-top: 10px;
  }

  .hero__row {
    flex-direction: column;
    row-gap: 20px;
  }

  /* 4. Khối Services */
  .service {
    padding: 70px 0;
  }

  .service__desc {
    width: 93%;
  }

  .service__img {
    height: auto;
  }

  /* 5. Khối Works */
  .work-desc {
    width: 100%;
  }

  .work-item {
    padding: 20px;
  }

  /* 6. Khối About */
  .about {
    margin-top: 20px;
    padding: 40px 0;
  }

  .section-heading {
    font-size: 3rem;
  }

  .section-desc {
    font-size: 1.5rem;
  }

  /* 7. Khối Team */
  .team-list {
    grid-template-columns: repeat(1, 1fr);
  }

  /* 8. Khối Install Mobile */
  .install__inner {
    margin: 40px 0;
    padding: 0 8px;
  }

  .install__content {
    min-width: 250px;
  }

  .install__desc {
    font-size: 1.5rem;
  }

  /* 9. Khối Blog */
  .blog__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .blog__heading {
    text-align: center;
    font-size: 2.8rem;
  }

  /* 10. Khối Appointment */
  .appointment__inner {
    padding: 30px 5px;
  }

  /* 11. Khối Footer */
  .footer__top {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .footer-hidden-tablet-3 {
    display: none;
  }

  .footer__copyright {
    margin-top: 20px;
  }
}
